.rno-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--gutter-width) calc(var(--gutter-width) * 2);
  height: var(--header-height);

}

.rno-header > H2 > a{
  text-decoration: none;
}

.rno-header > ul {
  display: flex;
  align-self: center;
  margin-bottom: 12px;
  padding: 0 10px;
}
.rno-header > li{
  display: inline;
}

.rno-header > ul > li > a{
  text-decoration: none;
  margin: 0 10px;

  /*color: var(--title-color-mobile);*/

  color: var(--title-color-mobile);

}

.rno-header > button{
  margin-left: auto;
}

.rno-header-button {
  border: none;
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
  background: var(--button-color-mobile);
  color: white;
  text-transform: uppercase;
}

.rno-body{
  margin: 0 calc(var(--gutter-width) * 2);
  display: flex;
  flex-direction: column;


}

.rno-body-centre{
  display: flex;
  flex-direction: column;
  align-items: center;

}


.rno-body-centre > div >p{
  text-align: center;
}


.rno-body-sidebar{
  border: 1px solid #000;
  padding: var(--gutter-width);
  margin-top: var(--gutter-width);
}

.rno-footer{
  text-align: center;
  overflow: auto;

  height: var(--footer-height);
}
