html {
  margin: 0;
  font-size: 14px;
  height: 100%;
}
body {
  height: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
}
#header{
  display: flex;
  color: var(--title-color-desktop);
  margin-left: 20px;
  justify-content: space-between;
}
#header>ul{
  display: flex;
  padding-top: 20px;
}
#header>ul li {
  font-size: 1.25rem;
  margin-left: 20px;
}
header>button{
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  width: 150px;
  font-size: 1.25rem;
  color: white;
  border: none;
  background: var(--button-color-desktop);
}
#all{
  display: flex;
  justify-content: space-around;
}
#info{
  width: 50%;
  text-align: center;
}
#info>img{
  margin: 20px;
  width: 100%;
}
#img-mob{
  display: none;
}
#img-tabl{
  display: none;
}
#sidebar{
  border: 1px solid black;
  width: 30%;
  text-align: center;
}
footer{
  text-align: center;
  height: var(--footer-height);
}
