/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .rno-body{
    display: flex;
    flex-direction: column;

  }

  .rno-footer{
    left: 0; bottom: 0;
    width: 100%;

  }
}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 300px) {

  @media (min-width: 768px) {



  }

  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    .rno-body{
      display: flex;
      flex-direction: row;
    }

    .rno_body-sidebar{
      height: 100%;
    }

    .rno-footer{
      text-align: center;
      box-sizing: border-box;

    }
  }

  /*Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {

  }
}
