/*Small devices (landscape phones, 425px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
 .app-main-wrap{
   display: grid;
   grid-template: "main sidebar"/75% ;
   width: 100%;
   column-gap: 10px;

 }
  .app-main-wrap .app-main{
    grid-area: main;
  }
  .app-main-wrap .app-sidebar{
    grid-area: sidebar;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  header .app-main-btn {
    margin-left: 25%;
    width: 75%;
    border: none;
  padding:   calc(var(--gutter-width) / 2) var(--gutter-width);
    background: var(--button-color-mobile);
    color: white;
    text-transform: uppercase;
  }
}
