.she_grid_header{
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  grid-gap: 1em;

  padding: var(--gutter-width) calc(var(--gutter-width) * 2);
  height: var(--header-height);
}
.she_grid_header > H2 > a{
  text-decoration: none;
}

.she_grid_header > ul > li{
  display: inline;

}

.she_grid_header > ul > li > a{
  text-decoration: none;
  margin: 0 10px;
  color: var(--title-color-mobile);
}

.she_grid_header > button{
  justify-self: end;
  border: none;
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
  background: var(--button-color-mobile);
  color: white;
  text-transform: uppercase;
}

.she_grid_body{
  display: grid;
  grid-template-columns:1fr 0.1fr;
  grid-template-rows: 0.2fr 0.2fr 3fr 0.2fr;

  margin: 0 calc(var(--gutter-width) * 2);
}

.she_grid_body > H1{
  justify-self: center;
}


.she_grid_body > p{
  grid-row-start: 2;
  justify-self: center;
}

.she_grid_body > ul{
  grid-row-start: 3;
  justify-self: center;

}


.she_grid_body_sidebar{
  border: 1px solid #000;
  padding: var(--gutter-width);
  margin-top: var(--gutter-width);

  grid-column: 2;
  grid-row: 1/4;

}


.she_grid_footer{
  text-align: center;
  overflow: auto;

  height: var(--footer-height);
}
