:root {
  --title-color-mobile: red;
  --title-color-table: green;
  --title-color-desktop: blue;

  --button-color-mobile: red;
  --button-color-table: brown;
  --button-color-desktop: blue;
  --button-color-all: gold;

  --gutter-width: 20px;
  --header-height: 100px;
  --footer-height: 100px;
}
