:root {
  --title-color-mobile: blue;
  --title-color-table: red;
  --title-color-desktop: green;

  --button-color-mobile: gold;
  --button-color-table: orange;
  --button-color-desktop: brown;
  --button-color-all: yellow;

  --gutter-width: 20px;
  --header-height: 100px;
  --footer-height: 100px;

  --container-width-mobile: 85vw;
}
