.gev_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  padding: var(--gutter-width) calc(var(--gutter-width) * 2);
  height: var(--header-height);

}

.gev_header > H2 > a{
  text-decoration: none;
}

.gev_header > ul {
  display: flex;
  align-self: center;
  margin-bottom: 12px;
  padding: 0 10px;
}
.gev_header > li{
  display: inline;
}

.gev_header > ul > li > a{
  text-decoration: none;
  margin: 0 10px;
  color: var(--title-color-mobile);
}

.gev_header > button{
  margin-left: auto;
}

.gev_header-button {
  border: none;
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
  background: var(--button-color-mobile);
  color: white;
  text-transform: uppercase;
}

.gev_body{
  margin: 0 calc(var(--gutter-width) * 2);
  display: flex;
  flex-direction: column;


}

.gev_body-centre{
  display: flex;
  flex-direction: column;
  align-items: center;

}


.gev_body-centre > div >p{
  text-align: center;
}


.gev_body-sidebar{
  border: 1px solid #000;
  padding: var(--gutter-width);
  margin-top: var(--gutter-width);
}

.gev_footer{
  text-align: center;
  overflow: auto;

  height: var(--footer-height);
}
