:root {
<<<<<<< HEAD
  --title-color-mobile: #ff0000;
=======
  --title-color-mobile: red;
>>>>>>> 4fdab793d53d7ef9ff30cad83b10832bf6ff1a5a
  --title-color-table: green;
  --title-color-desktop: blue;

  --button-color-mobile: blue;
  --button-color-table: brown;
  --button-color-desktop: red;

  --gutter-width: 20px;
  --header-height: 100px;
  --footer-height: 100px;
}
