:root {

  --title-color-mobile: #ff0000;
  --title-color-mobile: red;
  --title-color-table: #800080;
  --title-color-desktop: blue;

  --button-color-mobile: #ffff00;
  --button-color-table: #ffff00;
  --button-color-desktop: #ffff00;

  --gutter-width: 20px;
  --header-height: 100px;
  --footer-height: 100px;
}
